@charset "UTF-8";

/*Typical Device Breakpoints

    Pequenas telas: até 600px
    celular: de 600px até 768
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    Telas grandes: acima de 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px) {
  /*TABLET*/
  :root {
    --bg-url: url(../assets/Dark-tablet.png);
    --bg-body: #10032e;
    --text-highlight: #b0b3d6;
  }

  :root.light {
    --bg-url: url(../assets/Light-tablet.png);
    --bg-body: #dfe1fd;
    --text-highlight: #3f51b5;
  }
  body {
    background-image: var(--bg-url);
  }

  .foto img {
    width: 350px;
    height: auto;
  }

  .input {
    width: 50vw;
  }

  header h1 {
    font-size: 2em;
  }

  i#burguer {
    display: none;
  }

  menu {
    display: block;
    text-align: center;
  }

  menu > ul > li {
    display: inline-block;
  }

  menu > ul > li > a {
    background-color: transparent;
    box-shadow: none;
    font-size: 1.3em;
  }

  menu > ul > li > a:hover {
    background-color: transparent;
    color: var(--text-highlight);
  }

  header img {
    width: 180px;
  }

  .home {
    padding: 0px 40px;
  }

  .txt-animado span::after {
    background-color: var(--bg-body);
  }

  #texto h1 {
    font-size: 30px;
    margin-top: 100px;
  }

  #texto h2 {
    font-size: 80px;
  }

  #texto h3 {
    font-size: 28px;
  }

  div#botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }

  div > button {
    width: 200px;
    height: 90px;
  }

  div > button > p {
    font-size: 1.5em;
  }

  div #fale {
    margin: 30px 24px 30px;
  }

  div #baixe {
    margin: 30px 24px 30px;
  }

  .foto img {
    margin-bottom: 110px;
  }

  .sobre h2 {
    font-size: 3em;
    color: var(--text-default);
    text-align: center;
    padding: 10px;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 5px var(--txt-hover);
  }

  .sobre p {
    font-size: 1.5em;
    text-indent: 1.5em;
    color: var(--text-default);
    text-align: justify;
    max-width: 700px;
    margin: auto;
  }

  .txt-projeto h2 {
    display: flex;
    font-size: 3em;
    margin-bottom: 1em;
    color: var(--text-default);
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 5px var(--txt-hover);
  }

  .txthabili {
    display: flex;
    font-size: 3em;
    margin-bottom: 1em;
    color: var(--text-default);
    text-align: center;
    padding: 5px;
    text-shadow: 2px 2px 5px var(--txt-hover);
  }

  .form {
    width: 50vw;
  }

  .linha-decorativa {
    height: 4px;
  }

  .linha-decorativa::before,
  .linha-decorativa::after {
    width: 8px;
    height: 8px;
  }

  img#celular {
    display: none;
  }
  img#tablet {
    display: block;
  }
  img#desktop {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  /*DESKTOP*/
  :root {
    --bg-url: url(../assets/Dark-desktop.png);
    --bg-body: #3a0ca3;
    --text-highlight: #b0b3d6;
  }

  :root.light {
    --bg-url: url(../assets/Light-desktop.png);
    --bg-body: #9aa1f6;
    --text-highlight: #3f51b5;
  }
  body {
    background-image: var(--bg-url);
  }

  header img {
    width: 200px;
  }

  .foto img {
    width: 400px;
    height: auto;
  }

  .ancora-ajuste {
    top: -70px;
  }

  i#burguer {
    display: none;
  }

  menu {
    background: transparent;
  }

  menu > ul > li {
    display: inline-block;
  }

  menu > ul > li > a {
    background-color: transparent;
    box-shadow: none;
    font-size: 1.5em;
  }

  menu > ul > li > a:hover {
    background-color: transparent;
    color: var(--text-highlight);
  }

  .home {
    display: flex;
    flex-direction: row;
    padding: 0px 40px;
  }

  #texto h1 {
    font-size: 2em;
  }

  #texto h2 {
    font-size: 5.5em;
  }

  #texto h3 {
    font-size: 2em;
  }

  #texto button {
    width: 180px;
    height: 60px;
  }

  div > button > p {
    font-size: 1.5em;
  }

  div.foto {
    margin-top: 60px;
  }

  .sobre h2 {
    font-size: 3em;
    color: var(--text-default);
    text-align: center;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 5px var(--txt-hover);
  }

  .sobre p {
    font-size: 1.5em;
    text-indent: 2em;
    color: var(--text-default);
    text-align: justify;
    max-width: 800px;
    margin: auto;
  }

  .txt-projeto h2 {
    display: flex;
    font-size: 3em;
    margin-bottom: 1em;
    color: var(--text-default);
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 5px var(--txt-hover);
  }

  .txthabili {
    display: flex;
    font-size: 3em;
    margin-bottom: 1em;
    color: var(--text-default);
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 5px var(--txt-hover);
  }

  .embalagem {
    margin: 0 60px 35px;
  }

  .embalagem .swiper-button-prev {
    display: flex;
  }

  .embalagem .swiper-button-next {
    display: flex;
  }

  .paginas-slide img {
    width: 150px;
  }

  .form {
    width: 30vw;
  }

  .linha-decorativa {
    height: 6px;
  }

  .linha-decorativa::before,
  .linha-decorativa::after {
    width: 15px;
    height: 15px;
  }

  img#celular {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#desktop {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  /*TELAS GRANDES*/
  :root {
    --bg-url: url(../assets/Dark-desktop.png);
    --bg-body: #3a0ca3;
    --text-highlight: #b0b3d6;
  }

  :root.light {
    --bg-url: url(../assets/Light-desktop.png);
    --bg-body: #9aa1f6;
    --text-highlight: #3f51b5;
  }
  body {
    background-image: var(--bg-url);
    padding: 30px 30px 30px 30px;
  }

  html {
    scroll-padding-top: 120px;
  }

  header img {
    width: 200px;
  }

  .foto img {
    width: 400px;
    height: auto;
  }

  .ancora-ajuste {
    top: -65px;
  }

  i#burguer {
    display: none;
  }

  menu {
    display: block;
    text-align: center;
    background: transparent;
  }

  menu > ul > li {
    display: inline-block;
  }

  menu > ul > li > a {
    background-color: transparent;
    box-shadow: none;
    font-size: 1.5em;
  }

  menu > ul > li > a:hover {
    background-color: transparent;
    color: var(--text-highlight);
  }

  .home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 40px;
  }

  div#texto {
    display: inline-block;
  }

  #texto h1 {
    font-size: 2em;
    margin-top: 100px;
  }

  #texto h2 {
    font-size: 5.5em;
  }

  #texto h3 {
    font-size: 2em;
  }

  #texto button {
    width: 180px;
    height: 60px;
  }

  div > button > p {
    font-size: 1.5em;
  }

  div.foto {
    margin-top: 60px;
  }

  .sobre {
    margin-top: 150px;
    margin-bottom: 100px;
  }

  .sobre h2 {
    font-size: 3.5em;
    color: var(--text-default);
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 5px var(--txt-hover);
  }

  .sobre p {
    font-size: 1.5em;
    text-indent: 2em;
    color: var(--text-default);
    text-align: justify;
    max-width: 900px;
    margin: auto;
  }

  .projeto {
    margin-bottom: 150px;
  }

  .txt-projeto h2 {
    display: flex;
    font-size: 3em;
    margin-top: 3em;
    margin-bottom: 2.5em;
    color: var(--text-default);
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 5px var(--txt-hover);
  }

  .txthabili {
    display: flex;
    font-size: 3em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: var(--text-default);
    text-align: center;
    padding: 5px;
    text-shadow: 2px 2px 5px var(--txt-hover);
  }

  .embalagem {
    margin: 0 60px 35px;
  }

  .embalagem .swiper-button-prev {
    display: flex;
  }

  .embalagem .swiper-button-next {
    display: flex;
  }

  .habilidade {
    margin-bottom: 150px;
  }

  .paginas-slide img {
    width: 150px;
  }

  .form {
    width: 40vw;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .linha-decorativa {
    height: 6px;
  }

  .linha-decorativa::before,
  .linha-decorativa::after {
    width: 15px;
    height: 15px;
  }

  img#celular {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#desktop {
    display: block;
  }
}