@charset "UTF-8";

/*versão mobile first*/
:root {
  --bg-url: url(../assets/Dark-mobile.png);
  --bg-body: #3a0ca3;
  --text-default: #ffffff;
  --text-highlight: #b0b3d6;
  --bottom-default: #ffffff;
  --txt-hover: #00000033;
  --hover: #00000080;
    
  --dark: #190447;
  --accent: #16aeea;
  --moon-sun: #fff000;
  
  --menu: #190447;
  --hover-menu: #00000073;

  --project: #b0b3d6;
  --card-hover-bg: #6366f14d;
  --tag-bg: #ffffffe6;
  --tag-text: #6366f1;
  --button-project: #6366f1;
  --card-title: #000000;
  --footer-border: #00000030;
  --swiperbullet: #b1b3f8;
  --swiperbutton: #6366f1;
  
  --form: #b0b3d6;
  --button-form: #6366f1;
  
  --anchor-text: #111111;
  --hover-anchor: #b4a0ff41;
  --bg-anchor: #b1b3f8;
}

:root.light {
  --bg-url: url(../assets/Light-mobile.png);
  --bg-body: #A1A7F7;
  --text-default: #000000;
  --text-highlight: #3f51b5;
  --bottom-default: #ffffff;
  --txt-hover: #00000033;
  --hover: #00000080;
    
  --dark: #190447;
  --accent: #0091ff;
  --moon-sun: #fff000;
  
  --menu: #926de3;
  --hover-menu: #00000073;

  --project: #fff;
  --card-hover-bg: #ffffff4d;
  --tag-bg: #ffffffe6;
  --tag-text: #6366f1;
  --button-project: #6366f1;
  --card-title: #2b2b2b;
  --footer-border: #00000030;
  --swiperbullet: #b1b3f8;
  --swiperbutton: #6366f1;
  
  --form: #666fcf;
  --button-form: #adaef7;
  
  --anchor-text: #fff;
  --hover-anchor: #67589c41;
  --bg-anchor: #caccfe;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

body,
html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: 20px;
  background: var(--bg-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
}

.ancora-ajuste {
  position: relative;
  height: 0;
  top: -70px;
}


#home, #sobre, #projeto, #habilidade, #contato {
  margin-top: 100px;
  scroll-margin-top: 100px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 160px;
  height: auto;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.right {
  justify-content: flex-end;
  margin-left: auto;
}

/* SWITCH */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  margin: auto;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px var(--moon-sun);
  background: var(--dark);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: var(--accent);
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px var(--moon-sun);
}

/* MENU BURGUER */

i#burguer {
  display: inline-block;
  text-align: center;
  color: var(--text-highlight);
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}

i#burguer:hover {
  color: var(--text-default);
}

/* MENU */

menu {
  display: none;
}

menu > ul {
  list-style-type: none;
}

menu > ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: var(--text-default);
  background-color: var(--menu);
  box-shadow: 0px 5px 10px var(--hover);
}

menu > ul > li > a:hover {
  background-color: var(--hover-menu);
}

/* HOME */

.home h1 {
  color: var(--text-default);
  font-size: 18px;
  font-weight: bold;
  margin-top: 48px;
  margin-right: 35px;
}

.container-h1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

div.txt-animado {
  color: var(--text-default);
  font-size: 40px;
  font-weight: bold;
  margin-right: 35px;
}

.txt-animado span {
  position: relative;
}

.txt-animado span::before {
  content: "Felipe";
  color: var(--text-highlight);
  animation: words 20s infinite;
}

.txt-animado span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: var(--bg-body);
  border-left: 3px solid var(--text-highlight);
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid var(--swiperbutton);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Felipe";
  }
  21%,
  40% {
    content: "Duarte.";
  }
  41%,
  60% {
    content: "Felipe";
  }
  61%,
  80% {
    content: "Duarte.";
  }
  81%,
  100% {
    content: "Felipe";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.home h3 {
  color: var(--text-highlight);
  font-size: 16px;
  margin-right: 35px;
  text-transform: uppercase;
}

/* BOTÃO HOME */

div#botoes {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: start;
  padding: 10px;
}

div > button {
  width: 133px;
  height: 54px;
  border-radius: 50px;
}

div #fale{
  border: 3px solid var(--text-default);
  background-color: transparent;
  color: var(--text-default);
  font-size: 1em;
  font-weight: normal;
  margin: 10px 10px 30px;
   transition: all 0.3s ease;
}

#fale a {
  text-decoration: none;
  color: var(--text-default);
}

div #baixe {
  background: var(--text-highlight);
  border: 3px solid var(--text-default);
  color: var(--bottom-default);
  font-size: 1em;
  font-weight: normal;
  margin: 10px 10px 30px;
  transition: all 0.3s ease;
}

#baixe a {
  text-decoration: none;
  color: var(--txtbotao2);
}

div #fale:hover {
  transform: translateY(-5px);
  color: var(--card-title);
  background-color: var(--text-highlight);
  border: 3px solid var(--footer-border);
  box-shadow: 0 8px 15px var(--card-hover-bg);
}

div #baixe:hover {
  transform: translateY(-5px);
  border: 3px solid var(--footer-border);
  box-shadow: 0 8px 15px var(--card-hover-bg);
}

/* FOTO */

.foto img {
  display: block;
  margin: auto;
  width: 280px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}


img#celular {
  display: block;
}
img#tablet {
  display: none;
}
img#desktop {
  display: none;
}

/* SOBRE */

.sobre h2 {
  font-size: 2.5em;
  color: var(--text-default);
  text-align: center;
  padding: 10px;
  margin-bottom: 1em;
  text-shadow: 2px 2px 5px var(--txt-hover);
}

.sobre p {
  font-size: 1em;
  text-indent: 1em;
  color: var(--text-default);
  text-align: justify;
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
}

/* PROJETO */

.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin-bottom: 100px;
}

.txt-projeto h2 {
  display: flex;
  font-size: 2.5em;
  margin-bottom: 90px;
  color: var(--text-default);
  text-align: center;
  padding: 5px;
  text-shadow: 2px 2px 5px var(--txt-hover);
}

.container {
  transform: translateY(-80px);
}

.embalagem {
  flex-direction: column;
  max-width: 80vw;
  padding: 20px 10px;
  margin: 0 10px 25px;
  overflow: hidden;
}

.embalagem .cartao {
  height: auto;
  display: flex;
  flex-direction: column;
  background: var(--project);
  border-radius: 20px;
  box-shadow: 0 10px 10px var(--txt-hover);
  transition: transform 0.3s ease;
}

.embalagem .cartao:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px var(--card-hover-bg);
}

.cartao .img-cartao {
  position: relative;
}

.cartao .img-cartao img {
  width: 100%;
  border-radius: 22px;
  padding: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.cartao .img-cartao .etiqueta-cartao {
  position: absolute;
  left: 25px;
  top: 25px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 0.75em;
  color: var(--tag-text);
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background: var(--tag-bg);
}

.cartao .conteudo-cartao {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 25px;
}

.cartao .conteudo-cartao .titulo-cartao {
  color: var(--card-title);
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 15px;
}

.cartao .conteudo-cartao .texto-cartao {
  color: var(--text-default);
  font-size: 0.95em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.cartao .conteudo-cartao .footer-cartao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  margin-top: auto;
  border-top: 1px solid var(--footer-border);
}

.cartao .footer-cartao .projeto-cartao {
  display: flex;
  align-items: center;
}

.cartao .projeto-cartao img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--tag-bg);
  box-shadow: 0 2px 5px var(--hover);
}

.cartao .projeto-cartao .info-projeto {
  display: flex;
  flex-direction: column;
}

.cartao .projeto-cartao .nome-perfil {
  font-size: 0.85em;
  font-weight: 600;
  color: var(--card-title);
}

.cartao .projeto-cartao .local-projeto {
  font-size: 0.8em;
  color: var(--card-title);
}

.cartao .footer-cartao .botao-cartao {
  color: var(--text-default);
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 0.9em;
  font-weight: 600;
  text-decoration: none;
  background: var(--button-project);
  box-shadow: 0 8px 15px var(--card-hover-bg);
  transition: all 0.3s ease;
}

.cartao .footer-cartao .botao-cartao:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px var(--card-hover-bg);
}

.embalagem .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  overflow: hidden;
  opacity: 1;
  background: var(--swiperbullet);
}

.embalagem .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--swiperbutton);
  transform: scaleX(0);
  transform-origin: left center;
  animation: autoplay-loading 5s linear forwards;
}

.container:hover .embalagem .swiper-pagination-bullet-active::before {
  animation-play-state: paused;
}

@keyframes autoplay-loading {
  100% {
    transform: scaleX(1);
  }
}

.embalagem :where(.swiper-button-prev, .swiper-button-next) {
  color: var(--swiperbutton);
  margin-top: -35px;
  transition: all 0.3s ease;
}

.embalagem .swiper-button-prev {
  display: none;
}

.embalagem .swiper-button-next {
  display: none;
}

.embalagem :where(.swiper-button-prev, .swiper-button-next):hover {
  color: var(--swiperbutton);
}

/* HABILIDADES */

.habilidade {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.txthabili {
  display: flex;
  font-size: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: var(--text-default);
  text-align: center;
  padding: 5px;
  text-shadow: 2px 2px 5px var(--txt-hover);
}

.container-slide {
  width: 95vw;
  background-color: var(--text-highlight);
  overflow: hidden;
  padding: 20px 0;
  box-shadow: 0 10px 15px var(--hover);
}

.paginas-slide {
  display: flex;
  width: fit-content;
  animation: scroll 25s linear infinite;
}

.paginas-slide img {
  width: 100px;
  height: auto;
  margin: 0 20px;
  object-fit: contain;
  filter: drop-shadow(0 0 10px var(--hover));
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* CONTATO */

.form {
  width: 350px;
  height: 510px;
  background: var(--form);
  border-radius: 30px;
  margin: 0 auto;
  padding: 20px;
  transition: all 0.3s ease;
}

.form:hover {
  transform: translateY(-4px);
  box-shadow: 3px 3px 10px var(--card-hover-bg);
}

.form h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-default);
  text-shadow: 3px 3px 10px var(--hover);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group input,
.form-group select,
.form-group textarea {
  border: 1px solid var(--card-title);
  background-color: var(--text-default);
  color: var(--hover);
  font-weight: bold;
  padding: 12px;
  border-radius: 20px;
  outline: none;
  font-size: 1em;
  transition: 0.3s;
}

.form-group select {
  text-align: center;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: var(--hover);
  font-weight: bold;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: var(--footer-border);
  background-color: var(--swiperbutton);
  color: var(--text-default);
}

.btn {
  display: flex;
  margin: auto;
  text-align: center;
  border: 3px solid var(--button-form);
  background-color: var(--button-form);
  color: var(--text-default);
  padding: 12px 20px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  width: 100px;
  height: 50px;
  transition: 0.3s;
  box-shadow: 3px 3px 3px var(--hover);
}

.btn:hover {
  box-shadow: 3px 3px 3px var(--hover);
  transform: translateY(-2px);
}
 
  
/* LINHA DECORATIVA */

.linha-decorativa {
  width: 80vw;
  height: 2px;
  background: var(--text-default);
  margin: 50px auto 50px;
  position: relative;
}

.linha-decorativa::before,
.linha-decorativa::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--text-default);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.linha-decorativa::before {
  left: 0;
}

.linha-decorativa::after {
  right: 0;
}

/* FOOTER */

footer {
  text-align: center;
  margin-bottom: 35px;
  color: var(--text-highlight);
  font-size: 12px;
}

/* BOTÃO ANCORA */

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--anchor-text);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px var(--hover-anchor);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: var(--text-default);
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: var(--bg-anchor);
  align-items: center;
}

.button:hover .svgIcon {
  width: 20px; 
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "voltar ao topo";
  color: var(--text-default);
  
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  
  transition-duration: 0.3s;
}

/* SOCIAL LINKS */

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  gap: 5px;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: 0.2s;
  border-radius: 50%;
  color: var(--text-highlight);
}
